@import url("../css/inputs.css");
@import url("../css/cards.css");

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100hv;
	font-family: Lato, sans-serif;
	color: #ffffff;
	margin: 48px;
}

main{
	flex: 1;
}

.background-main {
	background: rgb(26, 26, 26);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

.background-content {
	background-image: url("../images/team.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-right: 24px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header nav div button {
	margin-left: 8px;
	display: inline;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.nav-links l:not(:last-child) {
  margin-right: 24px;
}

main > section > * + * {
  margin-top: 24px;
}

main > section > button {
	background-color: #75FBB9;
	color: black;
}

h1 {
  line-height: 1.4;
  font-size: 32px;
}

.contact-header {
	line-height: 0;
}

p {
  line-height: 1.6;
  font-size: 16px;

}
/* abouts us section styles */
#about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.img-container {
  display: flex;
  margin-right: 40px;
}
img {
  /* width: 400px;
  margin-inline: auto;*/
  margin-right: 46px; 
  display: block;
  max-width: 100%;
  height: auto;
}
.text-container button {
  margin-top: 20px;
}
#about button {
  background-color: #75fbb9;
  color: #1e3781;
}

.body-secondary {
	color: rgb(96, 96, 96);
}

.contact {
	color: black;
	background-color: white;
	border-radius: 8px;
	padding: 36px;
	max-width: 400px;
	margin-left: 20%;
}

footer {
	background-color:rgb(26, 26, 26);
	position: 0;
	left: 0;
	bottom: 0;
  height: 100px;
  width: 100vw;
	position: relative;
	left: 50%;
  right: 50%;
  transform: translateX(-50%);
	padding: 24px;
  color: white;
  text-align: center;
}

a {
	text-decoration: none;
	color: inherit;;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	color: inherit;
}