html {
	height: 100%;
	background: linear-gradient(to bottom right, #4B7FC3, #5454B0);
}

body {
	font-family: Avenir, sans-serif;

	margin: 48px;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin-right: 24px;
}

header nav div button {
	margin-left: 16px;
}

