.card-horizontal {
	display: flex;
	background-color: var(--secondary-color);
	border-radius: 8px;
  padding: 16px;
  text-align: left;
	color: var(--primary-color);
	max-width: 1000px;
}

.gallery {
	display: flex;
	justify-content: center;
	flex-wrap: wrap
}

.card-small {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: left;
  max-width: 200px;
	color: var(--primary-color);
}

.card-small img{
  width: 200px;
  height: 250px;
	object-fit: contain;
  border-radius: 4px;
  margin-bottom: 16px;
}

.image-card-large {
  border-radius: 8px;
  text-align: center;
	max-width: 400px;
	color: var(--primary-color);
}